/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Montserrat", sans-serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: white;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 20px;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: lightcoral;
    color: #fff;
}

/*----------------
    HEADER
------------------*/

header{
    background-color: white;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 10px;
}

header h1{
    font-family: "Nerko One", cursive;
    color: #ff9614;
    text-align: center;
    font-size: 40px;
    
}


/*----------------
    MAIN
------------------*/

main{
    background-color: #f6f5f3;
    padding: 20px;
}

.intro h2{
    color: #4e3969;
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.intro h3{
    color: #aab1c8;
    font-weight: 300;
    font-size: 14px;
}
.intro h2 span{
    display: none;
}

.intro .video, .intro .descr{
    width: 100%;
}

.intro .video img{
    width: 100%;
}

.img-small{
    width: 300px;
    margin: auto;
    display: block;
}

.descr li{
    list-style: none;
    padding: 10px 0;
}

.descr h4{
    padding: 20px 0;
}

.descr{
    background-color: white;
    padding: 30px;
}

.social{
    padding: 50px 0;
}

.social .row{
    justify-content: space-between;
}

.social .row span{
    display: none;
}

.banner{
    margin-bottom: 20px;
    display: none;
}

.presentation h2{
    font-weight: 400;
}

hr{
    margin-top: 20px;
    margin-bottom: 3dvh;
    margin-right: 90%;
    color: #ff9614;
}



/*----------------
    FOOTER
------------------*/

footer{
    background-color: #7c69a4;
    padding: 20px;
    text-align: center;
}

.footer-top{
    color: white;
    
}

.footer-top p{
    padding: 10px;
}

.footer-top h5{
    font-size: 18px;
    
}

.footer-bottom a{
    color: white;
    padding: 20px;
}

.footer-bottom .row{
    justify-content: space-around;
}

/*----------------
    RESPONSIVE
------------------*/


@media screen and (min-width: 768px) {

    header h1{
        text-align: left;
    }

    .intro h2{
        font-size: 40px;
    }

    .intro h2 span{
        display: inline;
    }
    
    /*main{
        padding: 30px;
    }*/

    .img-small{
        float: left;
    }

    .social .row .btn{
        padding: 10px 50px;
    }

    .banner{
        display: block;
    }

    ul{
        display: flex;
    }
    
    .descr ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .descr li{
        padding: 0px 20px;
        padding-right: 50px;
        padding-bottom: 20px;
    }

    .descr h4{
        padding-left: 20px;

}

@media screen and (min-width: 992px) {

    .intro h2{
        font-size: 50px;
    }

    .intro .video{
        width: 70%;
    }

    .intro .descr{
        width: 30%;
    }

    .social .row span{
        display: inline;
    }

    .social .row .btn{
        padding: 10px 30px;
    }

    ul{
        display: block;
    }

    .descr h4{
        padding-bottom: 30px;
    }

    footer{
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h5{
        padding-left: 10px;
    }

}